<div id="locations-wrapper">
<div class="row">
   <div class="col s12">
      <div class="card-panel teal z-depth-4">
		<h1>Locations</h1>
		<h5>See Where The Code Campers Are</h5>
		<div id="map" style="height: 500px" class="z-depth-2"></div>
	  </div>
	</div>
 </div>
</div>