<div id="locations-wrapper">
	<button id="demo-menu-lower-left"
			class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">more_vert</i>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
		for="demo-menu-lower-left">
		<li class="mdl-menu__item"><a href="../profiles.html">Profiles</a></li>
		<li class="mdl-menu__item">Locations</li>
		<li class="mdl-menu__item"><a href="resources.html">Resources</a></li>
	</ul> 

<div class="row">
   <div class="col s12">
      <div class="card-panel teal z-depth-4">
		<h1>Locations</h1>
		<!-- <button id="demo-menu-lower-left"
			class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">more_vert</i>
		</button> -->
		<h5>See Where The Code Campers Are</h5>
		<div id="searchByName">
			<form>
  				Search Code Campers:<br>
  				<input type="text" name="camper" id='camper'>
  				<a id="search_button" onclick="lookUpByName()" class="waves-effect waves-light btn white">Submit</a>
  			</form>
		</div>
		<div id="map" style="height: 500px" class="z-depth-2"></div>
		<p>News Feed</p>
	  </div>
	</div>
 </div>
</div>