<h1>Pages#profiles</h1>
<p>Find me in app/views/pages/profiles.html.erb</p>
<ul>
	<h3>Code Camp VI </h3>

	<h3>Code Camp V </h3>

	<h3>Code Camp IV </h3>

	<h3>Code Camp III </h3>

	<h3>Code Camp II </h3>

	<h3>Code Camp I </h3>

</ul>
