<button id="demo-menu-lower-left"
      class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
    <li class="mdl-menu__item"><a href="../profiles.html">Profiles</a></li>
    <li class="mdl-menu__item"><a href="locations.html">Locations</a></li>
    <li class="mdl-menu__item">Resources</li>
  </ul> 

<div class="top">
	<img id= "logo" src="../assets/resourcesheader.png" style="min-width:100%; max-width:100%;"/>
</div>

<div class="resources">


<!-- <h1> Resources </h1> -->

<h2> <i class="medium material-icons">language</i>Conferences </h2>

<div class="row slimmer">
      <div class="col s12">
        <div class="card-panel teal hoverable">
          <span class="white-text">
          </span>
              <div class="card-action">
              <ul>
               <li><a href="http://ghc.anitaborg.org/">Grace Hopper </a></li>
               <li><a href="http://www.wecodeharvard.com/"> WECode @ Harvard </a></li>
               <li><a href="http://tapiaconference.org/"> Tapia Conference</a></li>
            </ul>
        </div>
      </div>
</div>


<h2><i class="medium material-icons">code</i> Developing </h2>
<div class="row slimmer">
      <div class="col s12">
        <div class="card-panel teal hoverable">
          <span class="white-text">
          </span>
              <div class="card-action">
                <ul>
                   <li><a href="http://lab.hakim.se/reveal-js/#/">Reveal.js </a></li>
                   <li><a href="http://p5js.org/">p5.js </a></li>

                </ul>

        </div>
      </div>
</div>


<h2><i class="medium material-icons">work</i> Career </h2>
<div class="row slimmer">
      <div class="col s12">
        <div class="card-panel teal hoverable">
          <span class="white-text">
          </span>
              <div class="card-action">
                <ul>
                   <li><a href="http://codingforinterviews.com/">Coding for interviews </a></li>
                   <li><a href="http://www.code2040.org/">Code2040 </a></li>

                </ul>

        </div>
      </div>
</div>

</div>