#login-container {
	height: inherit;
	width: 100%;

	#background {
		background-image: image-url("tempBackground1.jpg");
		background-size: 100%;
		height: inherit;
    	background-repeat: no-repeat;
    	background-size: cover
	}

	h1 {
		text-align: center;
		padding-bottom: 120px;
		font-weight: thin;
	}

	#background-container{
		margin-top: 130px;
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		background-color: rgba(231, 55, 60, 0.80);
		padding-bottom: 20px;
	}

	#container {
		width:400px;
		margin: 0 auto;
		padding-top:10%;
	}

	#container label {
		color: white;	
	}

	#container input:not([type="submit"]){
		border-bottom-color: white;
		color: white;
	}

	#container .btn {
		background-color: white;
		color: grey;
	}

	#container [type="checkbox"]:checked+label::before {
		border-right-color: white;
		border-bottom-color:white;
	}

	#container [type="checkbox"]:not(:checked)+label::before {
		border-color: white;
	}

}