
#profiles-wrapper {
	height: 100%;

	.container {
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  		height: 90%;
  		width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}

	h1 {
	color: white;
	}

	.links {
		padding-bottom: 2%;
		color: white;

		a {
			color: white;
		}
	}

	.col {
		text-align: center;
	}

	.collection {
		width: 90%;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 5%;
	}

	img {
		max-width: 90%;
		height: auto;
}

#all-profiles {
	padding-left: 5%;
	padding-right: 5%;

	#new-prof-button {
		margin: auto;
	}
	}
	}